<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/client/hp/style.css">
    <script type="module" src="/client/hp/main.mjs"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>定型文チャット</title>
</head>

<body>
    <h1>ゲームチャットアプリ</h1>
    <a href="/gaming_chat/apex_legends">Apex Legends</a>
    <br>
    <a href="/gaming_chat/minecraft">Minecraft</a>
    <br>
    <select class="chatset" id="selectChatset">
        <option value="">定型文セットを選択してください</option>
    </select>
    <div id="catChatset">
        
    </div>
</body>

</html>