body {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    margin: 0;
}

body * {
    color: white;
}

a {
    font-size: 24px;
}

/* 
.chat {
    width: 100%;
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat_frame {
    width: 100%;
    height: auto;
    line-height: 200%;
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding-left: 10%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
}

.username {
    font-size: 20px;
    color: rgb(230, 230, 230);
    display: inline;
}

.chat_text {
    font-size: 24px;
    color: white;
    display: inline;
}

.buttons {
    display: flex;
    width: 100%;
    height: 33%;
    background-color: rgb(20, 20, 20);
    flex-wrap: wrap;
    justify-content: center;
}

.text_button {
    width: 30%;
    height: 30%;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0.3%;
    border: none;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    outline: none;
}

.flash_screen {
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50);
}

.inputText {
    display: flex;
    width: 100%;
    height: 7%;
    background-color: rgb(50, 50, 50);
    color: white;
}

.textarea {
    width: 85%;
    background-color: rgb(50, 50, 50);
    color: white;
}

.submitButton {
    display: flex;
    width: 15%;
    background-color: rgb(100, 100, 100);
    color: white;
    align-items: center;
    justify-content: center;
} */